/*
*= require material_icons
*/
@import "materialize/components/color-variables";

$primary-color: color("red", "base") !default;
$secondary-color: color("red", "base") !default;
$background-color: color("grey", "lighten-5") !default;
$text-color: color("grey", "darken-4") !default;
$button-color: #c33838 !default;

$dark-primary-color: #1F1F1F;
$dark-secondary-color: #1E1E1E;
$dark-background-color: #121212;
$dark-text-color: #E1E1E1;

@import "materialize";

body {
    background-color: $background-color;
    color: $text-color;

    .nav-wrapper a.btn, .nav-wrapper button {
        background-color: $button-color;
    }

    .nav-wrapper button:focus {
        background-color: $button-color;
    }

    &.dark-mode {
        background-color: $dark-background-color;
        color: $dark-text-color;

        input, textarea{
            color: $dark-text-color;
        }

        .card {
            background-color: $dark-secondary-color;
            color: $dark-text-color;

            .card-title {
                color: $dark-text-color;
            }
        }

        .material-icons {
            color: $dark-text-color;
        }

        
    }
}

header, footer {
    background-color: $primary-color;

    &.dark-mode {
        background-color: $dark-primary-color;
    }
}

.card{
    .card-title {
        font-weight: 400;
    }
}

.btn-language{
    margin-left: 5px;
    a{
        margin-top: -2px !important;
        margin-left: 5px !important;
        margin-right: 0px !important;
    }
}

.btn-theme{
    margin-right: 10px;
}

.select-dropdown select{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
  }

.not-margin-bottom{
    margin-bottom: 0px;
}

.error-title-note{
    font-weight: 500;
}

.sidenav-overlay{
    z-index: 996 !important;
}

.brand-logo {
    white-space: nowrap;
}
  

